# -----------------------
# Python
# -----------------------

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------
# SQLite Database
# -----------------------

*.db
*.sqlite3

# -----------------------
# Environment Variables
# -----------------------

.env
.env.*

# -----------------------
# Next.js
# -----------------------

.next/
node_modules/
out/

# -----------------------
# VS Code
# -----------------------

.vscode/

# -----------------------
# Operating System Files
# -----------------------

.DS_Store
Thumbs.db

# -----------------------
# Logs
# -----------------------

*.log

# -----------------------
# Cache Files
# -----------------------

.cache/